* {
    margin: 0;
    padding: 0;
}

body {
    background-color: transparent;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1532498664269-63b8ab6adc73?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1268&q=80);
    background-size: cover;
}

img {
    height: 100vh;
}

.watch-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.watch-content {
    position: relative;
}

.second, .min, .hour, .top {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
}

.min {
    height: 11rem;
    width: .4%;
    transform-origin: top;
    background-color: rgba(43, 42, 42, 0.877);
    transform: translateX(-30%);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.second {
    height: 13rem;
    width: 0.5%;
    background-color: rgba(27, 22, 22, 0.815);
    transform-origin: top;
    transform: translateX(-25%);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.hour {
    transition: all .2s;
    height: 9rem;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    width: 0.6%;
    transform-origin: top;
    background-color: rgb(78, 77, 77);
    transform: translateX(-25%);
}

.top {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid white;
    transform: translateX(-50%) translateY(-25%);
    background-color: black;
}